Canonical response header value can contain wrong value when characters outside the US-ASCII charset are used

### Describe the bug

Where a character outside the US-ASCII charset is used, (such at those with accents/umlauts) in the uri of an element, SEOmatic will generate an URL encoded canonical link element in the HTML DOM, but, the HTTP header will not be encoded and therefore on a multi-language site can contain invalid characters.

Example url:
https://domain.com/fr/offices/gen%C3%AAve

renders link element:
```html
<link href="https://domain/fr/offices/genêve" rel="canonical">
```

Provides link header:

```
link: <https://domain.com/fr/offices/genÃªve>; rel='canonical'
```

ref:
- https://stackoverflow.com/questions/4400678/what-character-encoding-should-i-use-for-a-http-header
- https://www.rfc-editor.org/rfc/rfc7230#section-3.2.4
>Historically, HTTP has allowed field content with text in the
   ISO-8859-1 charset [[ISO-8859-1](https://www.rfc-editor.org/rfc/rfc7230#ref-ISO-8859-1)], supporting other charsets only
   through use of [[RFC2047](https://www.rfc-editor.org/rfc/rfc2047)] encoding.  In practice, most HTTP header
   field values use only a subset of the US-ASCII charset [[USASCII](https://www.rfc-editor.org/rfc/rfc7230#ref-USASCII)].
   Newly defined header fields SHOULD limit their field values to
   US-ASCII octets.  A recipient SHOULD treat other octets in field
   content (obs-text) as opaque data.

The quote from the HTTP1.1 spec makes it sound like technically umlauts should still be supported in http headers as they are included in an extended set of ISO-8859-1, and of course this is only HTTP1.1, v2/v3 may say something else.
In any case, I can reproduce this in an application on a ddev environment and in production using Servd's hosting platform, so it appears a very recent NGINX release (on http2) is still only supporting US-ASCII for header values.

### To reproduce
Steps to reproduce the behaviour:
- create entry with umlaut/accent characters
- inspect header
- inspect link element

### Expected behaviour
- url encode the canonical header value
- The link element value also should probably also be url encoded

I've added the following fix in a custom module for now for anyone who wants it:

```php
private function attachEventHandlers(): void
    {
        Event::on(
            View::class,
            View::EVENT_AFTER_RENDER_PAGE_TEMPLATE,
            function () {
                $response = Craft::$app->getResponse();
                $headers = $response->getHeaders();

                $linkHeader = $headers->get('link', null, false);
                if ($linkHeader) {
                    if (is_array($linkHeader)) {
                        foreach ($linkHeader as $header) {
                            $this->processCanonicalLink($header, $headers);
                        }
                    } else {
                        $linkHeaders = explode(',', $linkHeader);
                        foreach ($linkHeaders as $header) {
                            $this->processCanonicalLink(trim($header), $headers);
                        }
                    }
                }

            }
        );
    }

    private function processCanonicalLink($header, $headers): void
    {
        if (str_contains($header, 'rel=\'canonical\'')) {
            $url = preg_replace('/.*<(.*)>.*/', '$1', $header);
            if (str_contains($url, '.com/')) {
                $urlParts = explode('.com/', $url);
                $url = $urlParts[0] . '.com/' . urlencode($urlParts[1]);
            }
            if (str_contains($url, '.com.ddev.site/')) {
                $urlParts = explode('.com.ddev.site/', $url);
                $url = $urlParts[0] . '.com.ddev.site/' . urlencode($urlParts[1]);
            }
            $headers->set('Link', "<$url>; rel=\"canonical\"");
        }
    }
```

### Versions
- Plugin version: 4.0.3.6
- Craft version: 4.5.11.1


So I'm pretty sure that the DOM elements do not need to be encoded; we're handing off the rendering of those to the baked in Craft/Yii2 `Html::` class, which encodes things to spec:

https://github.com/yiisoft/yii2/blob/master/framework/helpers/BaseHtml.php#L1966

It looks like we probably should do said encoding for the header, though, as you mention.

hmmmm. One other question for you tho, have you consider the Craft settings `limitAutoSlugsToAscii` & `convertFilenamesToAscii`? This would let Craft do the cleansing of these slugs (and thus the resulting URLs) upstream, which would then cause SEOmatic to use them appropriately.

https://craftcms.com/docs/5.x/reference/config/general.html#limitautoslugstoascii

https://craftcms.com/docs/5.x/reference/config/general.html#convertfilenamestoascii

Or do you actually _want_ the official URLs to have special characters in them?

Didn’t know about that setting!I suspect this could be detrimental to SEO for those elements.I’ll check with our SEO guy and get back to you

>Or do you actually want the official URLs to have special characters in them?

I think in the case of the website I'm working on, it's a multi-site in different languages so it does make sense to keep them in this case.

I've checked in with our SEO team and they've found this:
https://developers.google.com/search/docs/crawling-indexing/url-structure

> Google supports URLs as defined by [RFC 3986](https://www.rfc-editor.org/rfc/rfc3986). Characters defined by the standard as [reserved](https://www.rfc-editor.org/rfc/rfc3986#section-2.2) must be [percent encoded](https://developer.mozilla.org/docs/Glossary/Percent-encoding). Unreserved ASCII characters may be left in the non-encoded form. Additionally, characters in the non-ASCII range should be UTF-8 encoded.

Google recommend that a URL with an umlaut should be percent/url encoded and provide an example:
>The following example uses UTF-8 encoding for the umlaut in the URL:
>https://www.example.com/gem%C3%BCse

As you may know browsers are clever and the value you see in an address bar is decoded, but, when you copy/paste the value into a shell it shows the encoded version so that might be adding to the confusion of what is acceptable.

Sounds like both canonical link & canonical response header values should be percent/url encoded.

@joepagan yeah but that's talking about the _actual_ URLs, not just how they appear in the meta tags and headers.

So if your SEO team wants you to follow that advice, then _all_ of your URLs should be encoded in that manner, so you should probably be using those settings I mentioned above ya?

SEOmatic is just taking the URLs that Craft is using, so that they mirror the actual URLs that are in use.

So the way I'm reading it, if you want this issue solved, it should be solved at the Craft level, and the URLs will then be encoded the way you want them to be in the meta tags and headers.

A situation you really don't want to get into, which your SEO team should be aware of, is feeding Google URLs that don't match, especially for the canonical URL. 

If your real URL is `https://domain/fr/offices/genêve` you don't want to tell Google via the meta or headers that the canonical URL is actually `https://domain/fr/offices/geneve` or `https://domain/fr/offices/gen%C3%AAve`.

You'll want them to match exactly.

I'll re-open if further information is added to the issue.

Thanks for getting back

>@joepagan yeah but that's talking about the actual URLs, not just how they appear in the meta tags and headers.

How do you define an actual URL?

Given that it will be other bots/crawlers/tools/services reading the values of meta tags/headers I believe they should be encoded as that was the prior linked specs suggest:
> In practice, most HTTP header field values use only a subset of the US-ASCII charset [[USASCII](https://www.rfc-editor.org/rfc/rfc7230#ref-USASCII)]. Newly defined header fields SHOULD limit their field values to US-ASCII octets 

Especially given that Nginx doesn't even support non-ascii characters, as my example shows it returns an bad value which takes you to a different URL which 404s. At the very least I think this should be updated!

This Google Dev Docs page suggests that all URLs should be encoded:
https://developers.google.com/maps/url-encoding#:~:text=It%20is%20recommended%20you%20use,properly%20escaped%20for%20your%20platform.
>It is recommended you use your platform's normal URL building libraries to automatically encode your URLs, to ensure the URLs are properly escaped for your platform.

So it sounds like maybe Craft's url function on elements maybe should return an url encoded value.

>So if your SEO team wants you to follow that advice, then all of your URLs should be encoded in that manner, so you should probably be using those settings I mentioned above ya?

Maybe all of the URLs should be encoded yes.
But I don't think a setting exists yet to keep them encoded in craft, changing those linked settings to the non-default value would do the opposite (remove any accents/umlauts). When we wish to keep them.

>SEOmatic is just taking the URLs that Craft is using, so that they mirror the actual URLs that are in use.

I understand that but SEOmatic is responsible for sending non-ASCII characters to a response header which only supports ASCII characters in another system (nginx). That is not a Craft-level issue.

>So the way I'm reading it, if you want this issue solved, it should be solved at the Craft level, and the URLs will then be encoded the way you want them to be in the meta tags and headers.

I don't think Craft saves a percent/url encoded version of a slug/uri yet.

>A situation you really don't want to get into, which your SEO team should be aware of, is feeding Google URLs that don't match, especially for the canonical URL.
> If your real URL is https://domain/fr/offices/genêve you don't want to tell Google via the meta or headers that the canonical 
> You'll want them to match exactly.

Exactly! At the moment there are 3 references:
- the link element - uses `genêve` - not actually matching
- the link response header - uses `genÃªve` which 404s
- the page itself - available on `gen%C3%AAve`

The real URL is not `https://domain/fr/offices/genêve`, it is `https://domain.com/fr/offices/gen%C3%AAve`, your browser decodes it and presents `genêve` in your address bar.

Info from AI:

>There are several authoritative sources and guidelines that emphasize the importance of URL encoding, especially when using URLs in attributes like `href`. Here are a few key resources that explain why and when you should URL-encode:

> 1. **RFC 3986 (Uniform Resource Identifier - URI) Specification**
>    - This document, maintained by the Internet Engineering Task Force (IETF), defines the valid structure of URIs and the need for percent-encoding of reserved and unsafe characters in URLs.
>    - Link: [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986)
>    This specification explains the syntax of URLs, highlighting reserved characters such as `&`, `=`, `/`, and how they need to be percent-encoded to avoid breaking the structure of the URI.
> 2. **W3C (World Wide Web Consortium) HTML Specification**
>    - The W3C's HTML5 specification describes how attributes like `href` in the `a` element should be treated. While it doesn't require encoding every single URL, it points to the IETF guidelines for correct URL formatting.
>    - Link: [W3C HTML Standard (Href attribute)](https://html.spec.whatwg.org/multipage/links.html#the-a-element)
> 3. **MDN Web Docs (Mozilla Developer Network)**
> ...
> 4. **OWASP (Open Web Application Security Project)**
> ...
> 5. **Google Developers (SEO & URL Best Practices)**
> ...


Which bit in RFC 3986 says this?:

>In **RFC 3986**, the parts that address the need for percent-encoding of certain characters in URIs are primarily in **Section 2** ("**Characters**") and **Section 3.4** ("**Query**").

>1. **Section 2: Characters**
>   RFC 3986, Section 2 outlines the character set allowed in URIs and discusses the need for percent-encoding of characters that are either **unsafe** or **reserved**. 

>   **Key part:**
>   > "The URI generic syntax uses **percent-encoding** to represent a data octet in a component when that octet's corresponding character is outside the allowed set or is being used as a delimiter of, or within, a reserved component."

>   This means that certain characters, particularly those that have special meanings (like `?`, `&`, `#`), or those that are unsafe (like spaces), must be percent-encoded to ensure they are interpreted correctly.

Which bit in w3c says this?:

>The **W3C HTML specification** does not directly "point to" IETF guidelines for URL formatting in a single clear statement, but it incorporates and aligns with **IETF RFC 3986** (and its predecessor, RFC 1738) as the authoritative source for URI/URL syntax. The HTML specification relies on these IETF documents for defining valid URL structures, including the rules for encoding.

> Here are the relevant places where W3C refers to IETF standards for URL/URI handling:

> 1. **W3C HTML Specification (WHATWG HTML Living Standard)**
>    The W3C HTML5 specification (and the current living HTML standard maintained by WHATWG) explicitly defines that URLs used in HTML should conform to the **URL standard**, which is largely based on RFC 3986. This specification links to the **WHATWG URL Standard**, which is itself heavily derived from RFC 3986.

>    **Key part**: In the section describing the `href` attribute of the `<a>` element, the specification says:
>    > "The `href` attribute on `a` and `area` elements must have a value that is a valid URL potentially surrounded by spaces."

>    The definition of "URL" is linked to the **WHATWG URL Standard**, which clarifies that URLs must be parsed according to the rules derived from RFC 3986.

>    - **Reference**: [W3C HTML Specification - Links](https://html.spec.whatwg.org/multipage/links.html#the-a-element)
> ...

> Exactly! At the moment there are 3 references:
> the link element - uses genêve - not actually matching
> the link response header - uses genÃªve which 404s
> the page itself - available on gen%C3%AAve

So what is the actual URL in your browser when you view the by clicking on the Preview link in the Craft CP?

> The real URL is not https://domain/fr/offices/genêve, it is https://domain.com/fr/offices/gen%C3%AAve, your browser decodes it and presents genêve in your address bar.

Okay, I see you answer that question here.

> So it sounds like maybe Craft's url function on elements maybe should return an url encoded value.

You can raise that issue here: https://github.com/craftcms/cms/issues

...but I suspect they will point you at those two settings I mentioned earlier.

Okay so here's my entry with a slug of `genêve `:

<img width="1458" alt="Screenshot 2024-10-03 at 3 57 43 PM" src="https://github.com/user-attachments/assets/e8c0068e-14e1-4699-85a4-98ed76119f78">

...when I view that entry on the frontend with Craft, I do **not** see it as URL encoded, here's what I see:

<img width="1458" alt="Screenshot 2024-10-03 at 3 57 49 PM" src="https://github.com/user-attachments/assets/7ca3e048-d422-4b64-9f47-00153863bf8b">

...and the meta information and headers match the URL `http://plugindev.local:8005/blog/gen%C3%AAve`:

```html
<link href="http://plugindev.local:8005/blog/genêve" rel="canonical">
```

<img width="574" alt="Screenshot 2024-10-03 at 4 01 19 PM" src="https://github.com/user-attachments/assets/f14ed70e-5c28-48ad-a8c4-1bae4d60067d">

...but I do see that the **Request URL** is URL decoded to `http://plugindev.local:8005/blog/gen%C3%AAve`

However, I don't think it's the _browser_ that's doing it, because I can `curl` the encoded URL properly:

```
❯ curl -I http://plugindev.local:8005/blog/genêve
HTTP/1.1 200 OK
Server: nginx/1.19.10
Date: Thu, 03 Oct 2024 20:02:51 GMT
Content-Type: text/html; charset=UTF-8
Connection: keep-alive
X-Powered-By: Craft CMS
X-Powered-By: SEOmatic
X-Robots-Tag: all
Link: <http://plugindev.local:8005/blog/genêve>; rel='canonical'
Referrer-Policy: no-referrer-when-downgrade
Cache-Control: no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0
```

...as well as the encoded URL:

```
❯ curl -I http://plugindev.local:8005/blog/gen%C3%AAve
HTTP/1.1 200 OK
Server: nginx/1.19.10
Date: Thu, 03 Oct 2024 20:03:12 GMT
Content-Type: text/html; charset=UTF-8
Connection: keep-alive
X-Powered-By: Craft CMS
X-Powered-By: SEOmatic
X-Robots-Tag: all
Link: <http://plugindev.local:8005/blog/genêve>; rel='canonical'
Referrer-Policy: no-referrer-when-downgrade
Cache-Control: no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0
```

So it's interesting. At the end of the day, I think you're right, the URLs probably should URL-encode non-ASCII characters to be maximally compatible.

But I also think that probably this should be done at the Craft-level so that the URLs are consistent everywhere. I'm guessing Pixel & Tonic's advice on this will be to use those two non-ascii settings if that's what you're wanting to have happen.

Related discussion: https://craftcms.stackexchange.com/questions/2227/is-there-any-downside-to-using-localized-characters-in-urls

Thanks @khalwat I'll open a craft issue!

>However, I don't think it's the browser that's doing it, because I can curl the encoded URL properly:

I did also see that behaviour, but maybe curl supports it? I guess that nginx can accept incoming traffic on it, or, at least send the request with that non-ascii char onwards to php in the request chain, but maybe it is not the same for response headers!

But if you click an link with a href which is not encoded, it looks like the request url in dev tools makes a request to the encoded version still.

>I'm guessing Pixel & Tonic's advice on this will be to use those two non-ascii settings if that's what you're wanting to have happen.

If I want to keep the character I hope not given that google [recommends "characters in the non-ASCII range should be UTF-8 encoded."](https://developers.google.com/search/docs/crawling-indexing/url-structure)

But I can imagine they might be cautious about it considering it's quite a huge change to what devs expect as I can imagine plenty of websites likely use the `.url` function in templates etc and visually it's less appealing, but it does seem like the case to change this behaviour is strong enough.

Related: https://github.com/craftcms/cms/issues/15838

I think some of the RFC's you've posted here have been superseded or supplemented, for example:

https://datatracker.ietf.org/doc/html/rfc3987

The google docs page could just be out of date, though google do state they support 3986 currently: https://developers.google.com/search/docs/crawling-indexing/url-structure

But it does appear to have the same requirements in terms of percent/url encoding

I think it is very likely out of date. Regardless, empirical evidence suggests that they are handling things as per the superceding rfc 3987

Hey @khalwat hope all is good. Is this something which can now be addressed now that the latest v4 and v5 releases are out with the new `encodeUrl` method?

It doesn't look like Craft is actually using `encodeUrl()` anywhere that I can see, except for `UrlHelper::redirect()` so you're not going to end up with encoded URLs everywhere, FWIW.

You want this specifically and only in the headers that are set, correct?

Thanks for getting back.
I think we established from the linked issue that the newer spec rfc 3987 supports non-ascii chars in most other places like anchor href values.
But this is still a genuine issue when those characters are inside of response headers (at least on nginx).

Added in the above commits.

Craft CMS 3:

You can try it now by setting your semver in your `composer.json` to look like this:
```json
    "nystudio107/craft-seomatic": "dev-develop as 3.5.10”,
```
Then do a `composer clear-cache && composer update`

…..

Craft CMS 4:

You can try it now by setting your semver in your `composer.json` to look like this:
```json
    "nystudio107/craft-seomatic": "dev-develop-v4 as 4.1.9”,
```
Then do a `composer clear-cache && composer update`

…..

Craft CMS 5:

You can try it now by setting your semver in your `composer.json` to look like this:
```json
    "nystudio107/craft-seomatic": "dev-develop-v5 as 5.1.9”,
```
Then do a `composer clear-cache && composer update`
